[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.1.7"
django-ckeditor = "~=6.5.1"
django-environ = "~=0.10.0"
django-mptt = "~=0.14.0"
psycopg2 = "~=2.9.5"
pillow = "~=9.4.0"
django-bootstrap-modal-forms = "~=2.2.1"
flake8 = "~=6.0.0"
pylint = "~=3.0.0a6"

[dev-packages]

[requires]
python_version = "3.11"
